<!DOCTYPE html>
<html>

<head>
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <meta content="utf-8" http-equiv="encoding">
  <title>Users manager</title>
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
  <script type="text/javascript" src="node_modules/axios/dist/axios.js"></script>
  <script type="text/javascript" src="users.js"></script>
</head>

<body>
  <div id="app">

    <ul class="user-list">
      <li v-for="(user, index) in users">
        <div class="user-row">
          <div class="user-name"><b>{{ user.name }}</b></div>
          <div class="user-city"><i>{{ user.city }}</i></div>
        </div>
      </li>
    </ul>

    <div> 
      <input type="text" v-model="name" placeholder="name">
      <input type="text" v-model="city" placeholder="city">
      <button v-on:click=adding>create </button>
    </div>

    <div> 
      <input type="number" v-model="id" placeholder="id">
      <button v-on:click=remove>delete </button>
    </div>

    <div> 
      <input type="number" v-model="id1" placeholder="id">
      <input type="text" v-model="name1" placeholder="name">
      <input type="text" v-model="city1" placeholder="city">
      <button v-on:click=upd>update </button>
    </div>

  </div>
  <script src="app.js"></script>
</body>

</html>